<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Express Tutorial</title>
  </head>
  <body>
    <div class="container">
        <div class="jumbotron">
                <h1>Welcome to <%=title%></h1>
        </div> 
        <ul>
            <%for(var i=0; i<list.length; i++){%>
            <li>
                <%=list[i]%>
            </li>
            <%}%>
        </ul>
        
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>